/* shared style  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

section {
  margin-bottom: 130px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 50px;
}

nav {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-primary {
  color: orange;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  margin-right: 50px;
  list-style: none;
}
nav a {
  text-decoration: none;
}
.btn-primary {
  border-radius: 5px;
  background-color: orange;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}

/* header related style */
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .profile-pic {
  width: 500px;
}

.banner-content {
  max-width: 500px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 20px;
  width: 70%;
}

/* main section style  */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section style  */
.about {
  padding: 130px;
  border-radius: 10px;
  margin: 130px 0;
  background-color: #fff8f3;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
  font-style: bold;
}

.skill-container {
  gap: 25px;
  display: flex;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill > img {
  margin-bottom: 30px;
}
.skill > .skill-title {
  margin-bottom: 10px;
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
